/* [project]/public/assets/css/LineIcons.3.0.css [client] (css) */
@font-face {
  font-family: LineIcons;
  src: url("../media/LineIcons.9f0d8c86.eot");
  src: url("../media/LineIcons.9f0d8c86.eot") format("embedded-opentype"), url("../media/LineIcons.9c1c857d.woff2") format("woff2"), url("../media/LineIcons.4f3ca5dc.woff") format("woff"), url("../media/LineIcons.3dd54a32.ttf") format("truetype"), url("../media/LineIcons.3d6beec0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.lni {
  color: inherit;
  speak: none;
  text-transform: none;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-shrink: 0;
  font: 1em / 1 LineIcons;
  display: inline-block;
}

.lni-sm {
  font-size: .8em;
}

.lni-lg {
  font-size: 1.2em;
}

.lni-16 {
  font-size: 16px;
}

.lni-32 {
  font-size: 32px;
}

.lni-is-spinning {
  animation: 1s linear infinite lni-spin;
}

@keyframes lni-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lni-rotate-90 {
  transform: rotate(90deg);
}

.lni-rotate-180 {
  transform: rotate(180deg);
}

.lni-rotate-270 {
  transform: rotate(270deg);
}

.lni-flip-y {
  transform: scaleY(-1);
}

.lni-flip-x {
  transform: scaleX(-1);
}

.lni-500px:before {
  content: "";
}

.lni-add-files:before {
  content: "";
}

.lni-adobe:before {
  content: "";
}

.lni-agenda:before {
  content: "";
}

.lni-airbnb:before {
  content: "";
}

.lni-alarm:before {
  content: "";
}

.lni-alarmclock:before {
  content: "";
}

.lni-altassian:before {
  content: "";
}

.lni-amazon-original:before {
  content: "";
}

.lni-amazon-pay:before {
  content: "";
}

.lni-amazon:before {
  content: "";
}

.lni-ambulance:before {
  content: "";
}

.lni-amex:before {
  content: "";
}

.lni-anchor:before {
  content: "";
}

.lni-android-original:before {
  content: "";
}

.lni-android:before {
  content: "";
}

.lni-angellist:before {
  content: "";
}

.lni-angle-double-down:before {
  content: "";
}

.lni-angle-double-left:before {
  content: "";
}

.lni-angle-double-right:before {
  content: "";
}

.lni-angle-double-up:before {
  content: "";
}

.lni-angular:before {
  content: "";
}

.lni-apartment:before {
  content: "";
}

.lni-app-store:before {
  content: "";
}

.lni-apple-music:before {
  content: "";
}

.lni-apple-pay:before {
  content: "";
}

.lni-apple:before {
  content: "";
}

.lni-archive:before {
  content: "";
}

.lni-arrow-down-circle:before {
  content: "";
}

.lni-arrow-down:before {
  content: "";
}

.lni-arrow-left-circle:before {
  content: "";
}

.lni-arrow-left:before {
  content: "";
}

.lni-arrow-right-circle:before {
  content: "";
}

.lni-arrow-right:before {
  content: "";
}

.lni-arrow-top-left:before {
  content: "";
}

.lni-arrow-top-right:before {
  content: "";
}

.lni-arrow-up-circle:before {
  content: "";
}

.lni-arrow-up:before {
  content: "";
}

.lni-arrows-horizontal:before {
  content: "";
}

.lni-arrows-vertical:before {
  content: "";
}

.lni-aws:before {
  content: "";
}

.lni-azure:before {
  content: "";
}

.lni-backward:before {
  content: "";
}

.lni-baloon:before {
  content: "";
}

.lni-ban:before {
  content: "";
}

.lni-bar-chart:before {
  content: "";
}

.lni-basketball:before {
  content: "";
}

.lni-behance-original:before {
  content: "";
}

.lni-behance:before {
  content: "";
}

.lni-bi-cycle:before {
  content: "";
}

.lni-bitbucket:before {
  content: "";
}

.lni-bitcoin:before {
  content: "";
}

.lni-blackboard:before {
  content: "";
}

.lni-blogger:before {
  content: "";
}

.lni-bluetooth-original:before {
  content: "";
}

.lni-bluetooth:before {
  content: "";
}

.lni-bold:before {
  content: "";
}

.lni-bolt-alt:before {
  content: "";
}

.lni-bolt:before {
  content: "";
}

.lni-book:before {
  content: "";
}

.lni-bookmark-alt:before {
  content: "";
}

.lni-bookmark:before {
  content: "";
}

.lni-bootstrap:before {
  content: "";
}

.lni-bricks:before {
  content: "";
}

.lni-bridge:before {
  content: "";
}

.lni-briefcase:before {
  content: "";
}

.lni-brush-alt:before {
  content: "";
}

.lni-brush:before {
  content: "";
}

.lni-btc:before {
  content: "";
}

.lni-bubble:before {
  content: "";
}

.lni-bug:before {
  content: "";
}

.lni-bulb:before {
  content: "";
}

.lni-bullhorn:before {
  content: "";
}

.lni-burger:before {
  content: "";
}

.lni-bus:before {
  content: "";
}

.lni-cake:before {
  content: "";
}

.lni-calculator:before {
  content: "";
}

.lni-calendar:before {
  content: "";
}

.lni-camera:before {
  content: "";
}

.lni-candy-cane:before {
  content: "";
}

.lni-candy:before {
  content: "";
}

.lni-capsule:before {
  content: "";
}

.lni-car-alt:before {
  content: "";
}

.lni-car:before {
  content: "";
}

.lni-caravan:before {
  content: "";
}

.lni-cart-full:before {
  content: "";
}

.lni-cart:before {
  content: "";
}

.lni-certificate:before {
  content: "";
}

.lni-check-box:before {
  content: "";
}

.lni-checkmark-circle:before {
  content: "";
}

.lni-checkmark:before {
  content: "";
}

.lni-chef-hat:before {
  content: "";
}

.lni-chevron-down-circle:before {
  content: "";
}

.lni-chevron-down:before {
  content: "";
}

.lni-chevron-left-circle:before {
  content: "";
}

.lni-chevron-left:before {
  content: "";
}

.lni-chevron-right-circle:before {
  content: "";
}

.lni-chevron-right:before {
  content: "";
}

.lni-chevron-up-circle:before {
  content: "";
}

.lni-chevron-up:before {
  content: "";
}

.lni-chrome:before {
  content: "";
}

.lni-chromecast:before {
  content: "";
}

.lni-circle-minus:before {
  content: "";
}

.lni-circle-plus:before {
  content: "";
}

.lni-clipboard:before {
  content: "";
}

.lni-close:before {
  content: "";
}

.lni-cloud-check:before {
  content: "";
}

.lni-cloud-download:before {
  content: "";
}

.lni-cloud-network:before {
  content: "";
}

.lni-cloud-sync:before {
  content: "";
}

.lni-cloud-upload:before {
  content: "";
}

.lni-cloud:before {
  content: "";
}

.lni-cloudflare:before {
  content: "";
}

.lni-cloudy-sun:before {
  content: "";
}

.lni-code-alt:before {
  content: "";
}

.lni-code:before {
  content: "";
}

.lni-codepen:before {
  content: "";
}

.lni-coffee-cup:before {
  content: "";
}

.lni-cog:before {
  content: "";
}

.lni-cogs:before {
  content: "";
}

.lni-coin:before {
  content: "";
}

.lni-comments-alt:before {
  content: "";
}

.lni-comments-reply:before {
  content: "";
}

.lni-comments:before {
  content: "";
}

.lni-compass:before {
  content: "";
}

.lni-connectdevelop:before {
  content: "";
}

.lni-construction-hammer:before {
  content: "";
}

.lni-construction:before {
  content: "";
}

.lni-control-panel:before {
  content: "";
}

.lni-cool:before {
  content: "";
}

.lni-cpanel:before {
  content: "";
}

.lni-creative-commons:before {
  content: "";
}

.lni-credit-cards:before {
  content: "";
}

.lni-crop:before {
  content: "";
}

.lni-cross-circle:before {
  content: "";
}

.lni-crown:before {
  content: "";
}

.lni-css-3:before {
  content: "";
}

.lni-cup:before {
  content: "";
}

.lni-customer:before {
  content: "";
}

.lni-cut:before {
  content: "";
}

.lni-dashboard:before {
  content: "";
}

.lni-database:before {
  content: "";
}

.lni-delivery:before {
  content: "";
}

.lni-dev:before {
  content: "";
}

.lni-diamond-alt:before {
  content: "";
}

.lni-diamond:before {
  content: "";
}

.lni-digitalocean:before {
  content: "";
}

.lni-diners-club:before {
  content: "";
}

.lni-dinner:before {
  content: "";
}

.lni-direction-alt:before {
  content: "";
}

.lni-direction-ltr:before {
  content: "";
}

.lni-direction-rtl:before {
  content: "";
}

.lni-direction:before {
  content: "";
}

.lni-discord:before {
  content: "";
}

.lni-discover:before {
  content: "";
}

.lni-display-alt:before {
  content: "";
}

.lni-display:before {
  content: "";
}

.lni-docker:before {
  content: "";
}

.lni-dollar:before {
  content: "";
}

.lni-domain:before {
  content: "";
}

.lni-download:before {
  content: "";
}

.lni-dribbble:before {
  content: "";
}

.lni-drop:before {
  content: "";
}

.lni-dropbox-original:before {
  content: "";
}

.lni-dropbox:before {
  content: "";
}

.lni-drupal-original:before {
  content: "";
}

.lni-drupal:before {
  content: "";
}

.lni-dumbbell:before {
  content: "";
}

.lni-edge:before {
  content: "";
}

.lni-empty-file:before {
  content: "";
}

.lni-enter:before {
  content: "";
}

.lni-envato:before {
  content: "";
}

.lni-envelope:before {
  content: "";
}

.lni-eraser:before {
  content: "";
}

.lni-euro:before {
  content: "";
}

.lni-exit-down:before {
  content: "";
}

.lni-exit-up:before {
  content: "";
}

.lni-exit:before {
  content: "";
}

.lni-eye:before {
  content: "";
}

.lni-facebook-filled:before {
  content: "";
}

.lni-facebook-line:before {
  content: "";
}

.lni-facebook-messenger:before {
  content: "";
}

.lni-facebook-original:before {
  content: "";
}

.lni-facebook-oval:before {
  content: "";
}

.lni-figma:before {
  content: "";
}

.lni-files:before {
  content: "";
}

.lni-firefox-original:before {
  content: "";
}

.lni-firefox:before {
  content: "";
}

.lni-fireworks:before {
  content: "";
}

.lni-first-aid:before {
  content: "";
}

.lni-flag-alt:before {
  content: "";
}

.lni-flag:before {
  content: "";
}

.lni-flags:before {
  content: "";
}

.lni-flicker:before {
  content: "";
}

.lni-flower:before {
  content: "";
}

.lni-folder:before {
  content: "";
}

.lni-forward:before {
  content: "";
}

.lni-frame-expand:before {
  content: "";
}

.lni-fresh-juice:before {
  content: "";
}

.lni-friendly:before {
  content: "";
}

.lni-full-screen:before {
  content: "";
}

.lni-funnel:before {
  content: "";
}

.lni-gallery:before {
  content: "";
}

.lni-game:before {
  content: "";
}

.lni-gatsby:before {
  content: "";
}

.lni-gift:before {
  content: "";
}

.lni-git:before {
  content: "";
}

.lni-github-original:before {
  content: "";
}

.lni-github:before {
  content: "";
}

.lni-goodreads:before {
  content: "";
}

.lni-google-drive:before {
  content: "";
}

.lni-google-pay:before {
  content: "";
}

.lni-google-wallet:before {
  content: "";
}

.lni-google:before {
  content: "";
}

.lni-graduation:before {
  content: "";
}

.lni-graph:before {
  content: "";
}

.lni-grid-alt:before {
  content: "";
}

.lni-grid:before {
  content: "";
}

.lni-grow:before {
  content: "";
}

.lni-hacker-news:before {
  content: "";
}

.lni-hammer:before {
  content: "";
}

.lni-hand:before {
  content: "";
}

.lni-handshake:before {
  content: "";
}

.lni-happy:before {
  content: "";
}

.lni-harddrive:before {
  content: "";
}

.lni-headphone-alt:before {
  content: "";
}

.lni-headphone:before {
  content: "";
}

.lni-heart-filled:before {
  content: "";
}

.lni-heart-monitor:before {
  content: "";
}

.lni-heart:before {
  content: "";
}

.lni-helicopter:before {
  content: "";
}

.lni-helmet:before {
  content: "";
}

.lni-help:before {
  content: "";
}

.lni-highlight-alt:before {
  content: "";
}

.lni-highlight:before {
  content: "";
}

.lni-home:before {
  content: "";
}

.lni-hospital:before {
  content: "";
}

.lni-hourglass:before {
  content: "";
}

.lni-html5:before {
  content: "";
}

.lni-image:before {
  content: "";
}

.lni-imdb:before {
  content: "";
}

.lni-inbox:before {
  content: "";
}

.lni-indent-decrease:before {
  content: "";
}

.lni-indent-increase:before {
  content: "";
}

.lni-infinite:before {
  content: "";
}

.lni-information:before {
  content: "";
}

.lni-instagram-filled:before {
  content: "";
}

.lni-instagram-original:before {
  content: "";
}

.lni-instagram:before {
  content: "";
}

.lni-invention:before {
  content: "";
}

.lni-invest-monitor:before {
  content: "";
}

.lni-investment:before {
  content: "";
}

.lni-island:before {
  content: "";
}

.lni-italic:before {
  content: "";
}

.lni-java:before {
  content: "";
}

.lni-jcb:before {
  content: "";
}

.lni-joomla-filled:before {
  content: "";
}

.lni-joomla-line:before {
  content: "";
}

.lni-js:before {
  content: "";
}

.lni-jsfiddle:before {
  content: "";
}

.lni-juice:before {
  content: "";
}

.lni-key:before {
  content: "";
}

.lni-keyboard:before {
  content: "";
}

.lni-keyword-research:before {
  content: "";
}

.lni-laptop-phone:before {
  content: "";
}

.lni-laptop:before {
  content: "";
}

.lni-laravel:before {
  content: "";
}

.lni-layers:before {
  content: "";
}

.lni-layout:before {
  content: "";
}

.lni-leaf:before {
  content: "";
}

.lni-library:before {
  content: "";
}

.lni-lifering:before {
  content: "";
}

.lni-line-dashed:before {
  content: "";
}

.lni-line-dotted:before {
  content: "";
}

.lni-line-double:before {
  content: "";
}

.lni-line-spacing:before {
  content: "";
}

.lni-line:before {
  content: "";
}

.lni-lineicons-alt:before {
  content: "";
}

.lni-lineicons:before {
  content: "";
}

.lni-link:before {
  content: "";
}

.lni-linkedin-original:before {
  content: "";
}

.lni-linkedin:before {
  content: "";
}

.lni-list:before {
  content: "";
}

.lni-lock-alt:before {
  content: "";
}

.lni-lock:before {
  content: "";
}

.lni-magento:before {
  content: "";
}

.lni-magnet:before {
  content: "";
}

.lni-magnifier:before {
  content: "";
}

.lni-mailchimp:before {
  content: "";
}

.lni-map-marker:before {
  content: "";
}

.lni-map:before {
  content: "";
}

.lni-markdown:before {
  content: "";
}

.lni-mashroom:before {
  content: "";
}

.lni-mastercard:before {
  content: "";
}

.lni-medium:before {
  content: "";
}

.lni-menu:before {
  content: "";
}

.lni-mic:before {
  content: "";
}

.lni-microphone:before {
  content: "";
}

.lni-microscope:before {
  content: "";
}

.lni-microsoft-edge:before {
  content: "";
}

.lni-microsoft:before {
  content: "";
}

.lni-minus:before {
  content: "";
}

.lni-mobile:before {
  content: "";
}

.lni-money-location:before {
  content: "";
}

.lni-money-protection:before {
  content: "";
}

.lni-more-alt:before {
  content: "";
}

.lni-more:before {
  content: "";
}

.lni-mouse:before {
  content: "";
}

.lni-move:before {
  content: "";
}

.lni-music:before {
  content: "";
}

.lni-netlify:before {
  content: "";
}

.lni-network:before {
  content: "";
}

.lni-night:before {
  content: "";
}

.lni-node-js:before {
  content: "";
}

.lni-node:before {
  content: "";
}

.lni-notepad:before {
  content: "";
}

.lni-npm:before {
  content: "";
}

.lni-offer:before {
  content: "";
}

.lni-opera:before {
  content: "";
}

.lni-package:before {
  content: "";
}

.lni-page-break:before {
  content: "";
}

.lni-pagination:before {
  content: "";
}

.lni-paint-bucket:before {
  content: "";
}

.lni-paint-roller:before {
  content: "";
}

.lni-pallet:before {
  content: "";
}

.lni-paperclip:before {
  content: "";
}

.lni-patreon:before {
  content: "";
}

.lni-pause:before {
  content: "";
}

.lni-paypal-original:before {
  content: "";
}

.lni-paypal:before {
  content: "";
}

.lni-pencil-alt:before {
  content: "";
}

.lni-pencil:before {
  content: "";
}

.lni-phone-set:before {
  content: "";
}

.lni-phone:before {
  content: "";
}

.lni-php:before {
  content: "";
}

.lni-pie-chart:before {
  content: "";
}

.lni-pilcrow:before {
  content: "";
}

.lni-pin:before {
  content: "";
}

.lni-pinterest:before {
  content: "";
}

.lni-pizza:before {
  content: "";
}

.lni-plane:before {
  content: "";
}

.lni-play-store:before {
  content: "";
}

.lni-play:before {
  content: "";
}

.lni-playstation:before {
  content: "";
}

.lni-plug:before {
  content: "";
}

.lni-plus:before {
  content: "";
}

.lni-pointer-down:before {
  content: "";
}

.lni-pointer-left:before {
  content: "";
}

.lni-pointer-right:before {
  content: "";
}

.lni-pointer-top:before {
  content: "";
}

.lni-pointer:before {
  content: "";
}

.lni-popup:before {
  content: "";
}

.lni-postcard:before {
  content: "";
}

.lni-pound:before {
  content: "";
}

.lni-power-switch:before {
  content: "";
}

.lni-printer:before {
  content: "";
}

.lni-producthunt:before {
  content: "";
}

.lni-protection:before {
  content: "";
}

.lni-pulse:before {
  content: "";
}

.lni-pyramids:before {
  content: "";
}

.lni-python:before {
  content: "";
}

.lni-question-circle:before {
  content: "";
}

.lni-quora:before {
  content: "";
}

.lni-quotation:before {
  content: "";
}

.lni-radio-button:before {
  content: "";
}

.lni-rain:before {
  content: "";
}

.lni-react:before {
  content: "";
}

.lni-reddit:before {
  content: "";
}

.lni-reload:before {
  content: "";
}

.lni-remove-file:before {
  content: "";
}

.lni-reply:before {
  content: "";
}

.lni-restaurant:before {
  content: "";
}

.lni-revenue:before {
  content: "";
}

.lni-road:before {
  content: "";
}

.lni-rocket:before {
  content: "";
}

.lni-rss-feed:before {
  content: "";
}

.lni-ruler-alt:before {
  content: "";
}

.lni-ruler-pencil:before {
  content: "";
}

.lni-ruler:before {
  content: "";
}

.lni-rupee:before {
  content: "";
}

.lni-sad:before {
  content: "";
}

.lni-save:before {
  content: "";
}

.lni-school-bench-alt:before {
  content: "";
}

.lni-school-bench:before {
  content: "";
}

.lni-scooter:before {
  content: "";
}

.lni-scroll-down:before {
  content: "";
}

.lni-search-alt:before {
  content: "";
}

.lni-search:before {
  content: "";
}

.lni-select:before {
  content: "";
}

.lni-seo-consulting:before {
  content: "";
}

.lni-seo:before {
  content: "";
}

.lni-service:before {
  content: "";
}

.lni-share-alt-1:before {
  content: "";
}

.lni-share-alt:before {
  content: "";
}

.lni-share:before {
  content: "";
}

.lni-shield:before {
  content: "";
}

.lni-shift-left:before {
  content: "";
}

.lni-shift-right:before {
  content: "";
}

.lni-ship:before {
  content: "";
}

.lni-shopify:before {
  content: "";
}

.lni-shopping-basket:before {
  content: "";
}

.lni-shortcode:before {
  content: "";
}

.lni-shovel:before {
  content: "";
}

.lni-shuffle:before {
  content: "";
}

.lni-signal:before {
  content: "";
}

.lni-sketch:before {
  content: "";
}

.lni-skipping-rope:before {
  content: "";
}

.lni-skype:before {
  content: "";
}

.lni-slack-line:before {
  content: "";
}

.lni-slack:before {
  content: "";
}

.lni-slice:before {
  content: "";
}

.lni-slideshare:before {
  content: "";
}

.lni-slim:before {
  content: "";
}

.lni-smile:before {
  content: "";
}

.lni-snapchat:before {
  content: "";
}

.lni-sort-alpha-asc:before {
  content: "";
}

.lni-sort-amount-asc:before {
  content: "";
}

.lni-sort-amount-dsc:before {
  content: "";
}

.lni-soundcloud-original:before {
  content: "";
}

.lni-soundcloud:before {
  content: "";
}

.lni-speechless:before {
  content: "";
}

.lni-spellcheck:before {
  content: "";
}

.lni-spinner-arrow:before {
  content: "";
}

.lni-spinner-solid:before {
  content: "";
}

.lni-spinner:before {
  content: "";
}

.lni-spotify-original:before {
  content: "";
}

.lni-spotify:before {
  content: "";
}

.lni-spray:before {
  content: "";
}

.lni-sprout:before {
  content: "";
}

.lni-squarespace:before {
  content: "";
}

.lni-stackoverflow:before {
  content: "";
}

.lni-stamp:before {
  content: "";
}

.lni-star-empty:before {
  content: "";
}

.lni-star-filled:before {
  content: "";
}

.lni-star-half:before {
  content: "";
}

.lni-star:before {
  content: "";
}

.lni-stats-down:before {
  content: "";
}

.lni-stats-up:before {
  content: "";
}

.lni-steam:before {
  content: "";
}

.lni-sthethoscope:before {
  content: "";
}

.lni-stop:before {
  content: "";
}

.lni-strikethrough:before {
  content: "";
}

.lni-stripe:before {
  content: "";
}

.lni-stumbleupon:before {
  content: "";
}

.lni-sun:before {
  content: "";
}

.lni-support:before {
  content: "";
}

.lni-surf-board:before {
  content: "";
}

.lni-suspect:before {
  content: "";
}

.lni-swift:before {
  content: "";
}

.lni-syringe:before {
  content: "";
}

.lni-t-shirt:before {
  content: "";
}

.lni-tab:before {
  content: "";
}

.lni-tag:before {
  content: "";
}

.lni-target-customer:before {
  content: "";
}

.lni-target-revenue:before {
  content: "";
}

.lni-target:before {
  content: "";
}

.lni-taxi:before {
  content: "";
}

.lni-teabag:before {
  content: "";
}

.lni-telegram-plane:before {
  content: "";
}

.lni-telegram:before {
  content: "";
}

.lni-text-align-center:before {
  content: "";
}

.lni-text-align-justify:before {
  content: "";
}

.lni-text-align-left:before {
  content: "";
}

.lni-text-align-right:before {
  content: "";
}

.lni-text-format-remove:before {
  content: "";
}

.lni-text-format:before {
  content: "";
}

.lni-thought:before {
  content: "";
}

.lni-thumbs-down:before {
  content: "";
}

.lni-thumbs-up:before {
  content: "";
}

.lni-thunder-alt:before {
  content: "";
}

.lni-thunder:before {
  content: "";
}

.lni-ticket-alt:before {
  content: "";
}

.lni-ticket:before {
  content: "";
}

.lni-tiktok:before {
  content: "";
}

.lni-timer:before {
  content: "";
}

.lni-tounge:before {
  content: "";
}

.lni-train-alt:before {
  content: "";
}

.lni-train:before {
  content: "";
}

.lni-trash-can:before {
  content: "";
}

.lni-travel:before {
  content: "";
}

.lni-tree:before {
  content: "";
}

.lni-trees:before {
  content: "";
}

.lni-trello:before {
  content: "";
}

.lni-trowel:before {
  content: "";
}

.lni-tumbler:before {
  content: "";
}

.lni-twitch:before {
  content: "";
}

.lni-twitter-filled:before {
  content: "";
}

.lni-twitter-original:before {
  content: "";
}

.lni-twitter:before {
  content: "";
}

.lni-ubuntu:before {
  content: "";
}

.lni-underline:before {
  content: "";
}

.lni-unlink:before {
  content: "";
}

.lni-unlock:before {
  content: "";
}

.lni-unsplash:before {
  content: "";
}

.lni-upload:before {
  content: "";
}

.lni-user:before {
  content: "";
}

.lni-users:before {
  content: "";
}

.lni-ux:before {
  content: "";
}

.lni-vector:before {
  content: "";
}

.lni-video:before {
  content: "";
}

.lni-vimeo:before {
  content: "";
}

.lni-visa:before {
  content: "";
}

.lni-vk:before {
  content: "";
}

.lni-volume-high:before {
  content: "";
}

.lni-volume-low:before {
  content: "";
}

.lni-volume-medium:before {
  content: "";
}

.lni-volume-mute:before {
  content: "";
}

.lni-volume:before {
  content: "";
}

.lni-wallet:before {
  content: "";
}

.lni-warning:before {
  content: "";
}

.lni-website-alt:before {
  content: "";
}

.lni-website:before {
  content: "";
}

.lni-wechat:before {
  content: "";
}

.lni-weight:before {
  content: "";
}

.lni-whatsapp:before {
  content: "";
}

.lni-wheelbarrow:before {
  content: "";
}

.lni-wheelchair:before {
  content: "";
}

.lni-windows:before {
  content: "";
}

.lni-wordpress-filled:before {
  content: "";
}

.lni-wordpress:before {
  content: "";
}

.lni-world-alt:before {
  content: "";
}

.lni-world:before {
  content: "";
}

.lni-write:before {
  content: "";
}

.lni-xbox:before {
  content: "";
}

.lni-yahoo:before {
  content: "";
}

.lni-ycombinator:before {
  content: "";
}

.lni-yen:before {
  content: "";
}

.lni-youtube:before {
  content: "";
}

.lni-zip:before {
  content: "";
}

.lni-zoom-in:before {
  content: "";
}

.lni-zoom-out:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_LineIcons_3_0_css_65f1660e._.single.css.map*/